@model VmBook
@{
    ViewData["Title"] = "Restaurant";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="main-wrapper">
    <partial name="_BannerPartial" model="Model.Banner" />
    <!-- Content -->
    <div class="container">
        <div class="content">
            <div class="row sticky-wrapper">
                <div class="col-lg-8 col-md-8">
                    <div class="">
                        <div class="detail-tile mb-4">
                            <h3>
                                <span>@Model.Restaurant.Name </span>
                                <span class=" text-uppercase">

                                    @if ((Model.Restaurant.OpeningTime.Hour < DateTime.Now.Hour && Model.Restaurant.OpeningTime.Minute <= DateTime.Now.Minute) && (Model.Restaurant.ClosingTime.Hour > DateTime.Now.Hour && Model.Restaurant.ClosingTime.Minute <= DateTime.Now.Minute))
                                    {


                                        <span class="badge badge-pill badge-success">Open</span>
                                    }
                                    else
                                    {
                                        <span class="badge badge-pill badge-danger">Closed</span>
                                    }

                                </span>
                            </h3>
                            <p>@Model.Restaurant.Adresses</p>
                            @foreach (var tag in Model.Restaurant.TagToRestaurant)
                            {
                                <span class="badge badge-pill badge-info text-uppercase mr-2">@tag.RestaurantTag.Name</span>

                            }
                        </div>
                        <div class="nav-wrapper">
                            <ul class="nav nav-pills nav-fill flex-column flex-md-row" id="tabs-icons-text" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link mb-sm-3 mb-md-0 active show" id="tabs-icons-text-1-tab" data-toggle="tab" href="#tabs-icons-text-1" role="tab" aria-controls="tabs-icons-text-1" aria-selected="true"><i class="fa fa-info-circle mr-2"></i>About</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link mb-sm-3 mb-md-0" id="tabs-icons-text-2-tab" data-toggle="tab" href="#tabs-icons-text-2" role="tab" aria-controls="tabs-icons-text-2" aria-selected="false"><i class="fa fa-map-marker mr-2"></i>Location</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link mb-sm-3 mb-md-0" id="tabs-icons-text-3-tab" data-toggle="tab" href="#tabs-icons-text-3" role="tab" aria-controls="tabs-icons-text-3" aria-selected="false"><i class="fa fa-money mr-2"></i>Pricing</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link mb-sm-3 mb-md-0" id="tabs-icons-text-4-tab" data-toggle="tab" href="#tabs-icons-text-4" role="tab" aria-controls="tabs-icons-text-3" aria-selected="false"><i class="fa fa-money mr-2"></i>Reviews</a>
                                </li>
                            </ul>
                        </div>
                        <div class="card shadow">
                            <div class="card-body">
                                <div class="tab-content" id="myTabContent">
                                    <div class="tab-pane fade active show" id="tabs-icons-text-1" role="tabpanel" aria-labelledby="tabs-icons-text-1-tab">
                                        <p>
                                            @Model.Restaurant.About
                                        </p>
                                        <h4 class="mb-4">
                                            Contact Info
                                        </h4>
                                        <div class="row mb-5">
                                            <div class="col-lg-4">

                                                @foreach (var phone in Model.Restaurant.ContactPhoneToRestaurant)
                                                {
                                                    <div class="detail-list mb-2">
                                                        <div class="detail-list-label mb-1">
                                                            <i aria-hidden="true" class="fa fa-phone mr-2"></i>
                                                            <small class="text-uppercase font-weight-bold">@phone.RestaurantContactPhone.Name</small>
                                                        </div>
                                                        <p class="m-0 text-small"> @phone.RestaurantContactPhone.Phone</p>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                    <h4 class="mb-4">Features</h4>
                                    @foreach (var feature in Model.Restaurant.FeatureToRestaurants)
                                    {
                                        <span class="badge badge-pill badge-primary text-uppercase mr-2 mb-2">@feature.RestaurantFeatures.Name</span>

                                    }
                                </div>
                                <div class="tab-pane fade" id="tabs-icons-text-2" role="tabpanel" aria-labelledby="tabs-icons-text-2-tab">
                                    <p class="description">@Model.Restaurant.Location</p>
                                    <div>
                                        <iframe src="@Model.Restaurant.Locationlink" width="500" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

                                    </div>
                                </div>
                                <div class="tab-pane fade" id="tabs-icons-text-3" role="tabpanel" aria-labelledby="tabs-icons-text-3-tab">
                                    <div class="pricing-list-container">
                                        <ul>
                                            @foreach (var item in Model.Restaurant.MenuToRestaurants)
                                            {
                                                <li>
                                                    <h5>@item.RestaurantMenu.Name</h5>
                                                    <p>@item.RestaurantMenu.Detail</p>
                                                    <span>$@item.RestaurantMenu.Price.ToString("#")</span>
                                                </li>
                                            }

                                        </ul>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="tabs-icons-text-4" role="tabpanel" aria-labelledby="tabs-icons-text-4-tab">
                                    @foreach (var comments in Model.Restaurant.Comments)
                                    {
                                        <div class="row mb-4 list-img-wrap">
                                            <div class="col-md-2 list-img">
                                                <img class="img-fluid rounded-circle shadow-lg" src="~/assets/images/avatar2.png" alt="image">
                                            </div>
                                            <div class="col-md-10">
                                                <h5 class="text-primary">@comments.Name</h5>
                                                <p></p>
                                                <p>
                                                    @comments.Subject
                                                </p>
                                                <button class="btn btn-sm btn-primary" type="submit">Helpful?</button>
                                            </div>
                                        </div>

                                    }

                                </div>
                                <div id="add-review" class="add-review-box mt-4">
                                    <!--Add Review-->
                                    <h3 class="listing-desc-headline mb-4">Add Review</h3>
                                    <!--Review Comment -->
                                    <form id="add-comment" class="add-comment" asp-controller="Restaurant" asp-action="Comment" method="post">
                                        <fieldset>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <input asp-for="@Model.Comment.Name" placeholder="Name" class="form-control form-control-alternative">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <input type="email" asp-for="@Model.Comment.Email" placeholder="Email" class="form-control form-control-alternative">
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <input type="text" asp-for="@Model.Comment.Subject" placeholder="Subject" class="form-control form-control-alternative">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="">
                                                <div class="form-group">
                                                    <textarea class="form-control form-control-alternative" placeholder="Comment" id="exampleFormControlTextarea1" asp-for="@Model.Comment.Content" rows="3"></textarea>
                                                </div>
                                            </div>
                                        </fieldset>
                                        <input type="hidden" asp-for="@Model.Comment.RestaurantId" value="@Model.Restaurant.Id" />
                                        <button type="submit" class="mt-4 btn btn-primary">Submit Comment</button>
                                        <div class="clearfix"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="sticky">
                    <!-- Book Now -->
                    <form asp-controller="Restaurant" asp-action="Reserve" method="post">
                        <div class="boxed-widget booking-widget">
                            <div>
                                <div class="form-group focused">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                                        </div>
                                        <input class="form-control" asp-for="@Model.Order.CreateDate" placeholder="Start date" type="date">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <select class="form-control form-control-alternative custom-select" id="exampleFormControlSelect1" asp-for="@Model.Order.GuestCount">
                                        <option selected>Guest</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                        <option value="4">Four</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input class="form-control" placeholder="FullName" asp-for="@Model.Order.Surname" type="text">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input class="form-control" placeholder="IdentityCard" asp-for="@Model.Order.IdentityCard" type="text">
                                    </div>
                                </div>
                            </div>
                            <!-- Book Now -->
                            <button type="submit" class="btn btn-1 btn-primary d-block">Order</button>

                            <input asp-for="@Model.Restaurant.Id" hidden />

                        </div>
                    </form>

                    <!--Book Now / End-->
                    @foreach (var item in Model.Restaurant.AdministrationToRestaurant)
                    {
                        <div class="boxed-widget bg-secondary mt-4 text-center p-4">
                            <h4 class="mb-4">Key People</h4>
                            <div class="mb-3">
                                <div class="mb-2">
                                    <img class="img-fluid rounded-circle shadow-lg" width="80" height="80" src="~/assets/images/@item.RestaurantAdministration.MainImage" alt="image">
                                </div>
                                <div class="">
                                    <h5 class="text-primary">@item.RestaurantAdministration.Fullname</h5>
                                </div>
                            </div>
                            <ul class="listing-details-sidebar">
                                <li><i class="fa fa-phone"></i>@item.RestaurantAdministration.Phone</li>
                                <li><i class="fa fa-external-link"></i> @item.RestaurantAdministration.Logins</li>
                                <li><i class="fa fa-envelope-o"></i>@item.RestaurantAdministration.Email</li>
                            </ul>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</section>

