@model Setting

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <h1>Layout</h1>

    <div class="row">

        <div class="col-lg-6">
            <form asp-area="admin" asp-controller="Home" asp-action="Create" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="mb-3">
                    <label asp-for="@Model.ImageFile" class="form-label">Image</label>
                    <input class="form-control" asp-for="@Model.ImageFile">
                    <span asp-validation-for="@Model.ImageFile" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="@Model.Logo" class="form-label">Logo</label>
                    <input class="form-control" asp-for="@Model.Logo">
                    <span asp-validation-for="@Model.Logo" class="text-danger"></span>
                </div>  <div class="mb-3">
                    <label asp-for="@Model.SiteInfo" class="form-label">About</label>
                    <input class="form-control" asp-for="@Model.SiteInfo">
                    <span asp-validation-for="@Model.SiteInfo" class="text-danger"></span>
                </div>  <div class="mb-3">
                    <label asp-for="@Model.Adresses" class="form-label">Adresses</label>
                    <input class="form-control" asp-for="@Model.Adresses">
                    <span asp-validation-for="@Model.Adresses" class="text-danger"></span>
                </div>  <div class="mb-3">
                    <label asp-for="@Model.Phone" class="form-label">Phone</label>
                    <input class="form-control" asp-for="@Model.Phone">
                    <span asp-validation-for="@Model.Phone" class="text-danger"></span>
                </div>  <div class="mb-3">
                    <label asp-for="@Model.Email" class="form-label">Email</label>
                    <input class="form-control" asp-for="@Model.Email">
                    <span asp-validation-for="@Model.Email" class="text-danger"></span>
                </div>  <div class="mb-3">
                    <label asp-for="@Model.Qoal" class="form-label">Qoal</label>
                    <input class="form-control" asp-for="@Model.Qoal">
                    <span asp-validation-for="@Model.Qoal" class="text-danger"></span>
                </div>  <div class="mb-3">
                    <label asp-for="@Model.ContactInfo" class="form-label">ContactInfo</label>
                    <input class="form-control" asp-for="@Model.ContactInfo">
                    <span asp-validation-for="@Model.ContactInfo" class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-primary">Create</button>
                <a asp-area="admin" asp-controller="Home" asp-action="Index">Back to list</a>
            </form>
        </div>
    </div>
</div>