@model VmBlog

@{
    ViewData["Title"] = "BlogDetails Details ";
}
@{
    <section class="main-wrapper">
        <partial name="_BannerPartial" model="Model.Banner" />
        <!-- Content -->
        <div class="content">
            <div class="container">
                <!-- Blog Posts -->
                <div class="blog-page">
                    <div class="row">
                        <!-- Post Content -->
                        <div class="col-lg-9 col-md-8 padding-right-30">
                            <!-- Blog Post -->
                            <div class="blog-post single-post">
                                <!-- Img -->
                                <img class="post-img img-fluid" src="~/assets/images/@Model.Blogin.MainImage" alt="image">
                                <!-- Content -->
                                <div class="post-content">
                                    <h3>@Model.Blogin.Title</h3>
                                    <ul class="post-meta">
                                        <li>@Model.Blogin.CreateDate.ToString("MMMM d, yyyy")</li>
                                        <li><a>@Model.Blogin.CustomUser.Name</a></li>
                                        <li><a>@Model.Blogin.Comment.Count Comments</a></li>
                                    </ul>
                                    <div class="post-quote">
                                        <span class="icon"></span>
                                        <blockquote>
                                            @Model.Blogin.Text
                                        </blockquote>
                                    </div>
                                </div>
                            </div>
                            <!-- Blog Post / End -->
                            <!-- Post Navigation -->
                            <ul id="posts-nav" class="margin-top-0 margin-bottom-45">
                                <li class="next-post">
                                    <button class="btn btn-1 btn-primary" type="button">Next</button>
                                </li>
                                <li class="prev-post">
                                    <button class="btn btn-1 btn-primary" type="button"> Previous</button>
                                </li>
                            </ul>
                            <!-- About Author -->
                            <div class="about-author">
                                <img src="~/assets/images/thumb-4.jpg" alt="image" />
                                <div class="about-description">
                                    <h4>Ethan Moore</h4>
                                    <p>Nullam ultricies, velit ut varius molestie, ante metus condimentum nisi, dignissim facilisis turpis ex in libero. Sed porta ante tortor, a pulvinar mi facilisis nec. Proin finibus dolor ac convallis congue.</p>
                                </div>
                            </div>
                            <div class="margin-top-50"></div>
                            <!-- Reviews -->
                            <section class="comments">
                                <h4 class="headline margin-bottom-35">Comments <span class="comments-amount">(5)</span></h4>
                                <div class="row py-4 list-img-wrap">
                                    <div class="col-md-2 list-img"><img class="img-fluid rounded-circle shadow-lg" src="~/assets/images/thumb-1.jpg" alt="image"></div>
                                    <div class="col-md-10">
                                        <h5 class="text-primary"> Loreta Lavine </h5>
                                        <p>15 Minutes Ago</p>
                                        <p>
                                            Lorem Ipsum is simply dummy text of the pr make but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
                                            Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                                        </p>
                                        <button class="btn btn-sm btn-primary" type="button">Reply</button>
                                    </div>
                                </div>
                                <div class="row py-4 list-img-wrap">
                                    <div class="col-md-2 list-img"><img class="img-fluid rounded-circle shadow-lg" src="~/assets/images/thumb-2.jpg" alt="image"></div>
                                    <div class="col-md-10">
                                        <h5 class="text-primary"> Kena Delatte </h5>
                                        <p>2 Days Ago</p>
                                        <p>Suspendisse enim nibh, ultricies id elit et, fermentum pellentesque neque. Curabitur at nibh finibus, facilisis lectus eu, ornare nulla. Morbi venenatis ex id diam laoreet vulputate</p>
                                        <button class="btn btn-sm btn-primary" type="button">Reply</button>
                                    </div>
                                </div>
                                <div class="row py-4 list-img-wrap">
                                    <div class="col-md-2 list-img"><img class="img-fluid rounded-circle shadow-lg" src="~/assets/images/thumb-3.jpg" alt="image"></div>
                                    <div class="col-md-10">
                                        <h5 class="text-primary"> Hilda Oatman </h5>
                                        <p>3 Days Ago</p>
                                        <p>
                                            Proin rhoncus nulla dictum, volutpat sem sed, aliquam nisi. Sed lorem turpis, viverra eu lacinia id, pellentesque et mi. Quisque vitae tortor dui. Nullam ac eros tempus erat vulputate ultrices ac sed dui. Quisque
                                            malesuada lacus non est fringilla, vitae finibus magna rutrum.
                                        </p>
                                        <button class="btn btn-sm btn-primary" type="button">Reply</button>
                                    </div>
                                </div>
                            </section>
                            <div class="clearfix"></div>
                            <!-- Add Comment -->
                            <div id="add-review" class="add-review-box mt-4">
                                <!-- Add Review -->
                                <h3 class="listing-desc-headline mb-4">Add Review</h3>
                                <!-- Review Comment -->
                                <form id="add-comment" class="add-comment">
                                    <fieldset>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <input type="text" placeholder="Name" class="form-control form-control-alternative">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <input type="email" placeholder="Email" class="form-control form-control-alternative">
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <input type="text" placeholder="Subject" class="form-control form-control-alternative">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="">
                                            <div class="form-group">
                                                <textarea class="form-control form-control-alternative" placeholder="Comment" id="exampleFormControlTextarea1" rows="3"></textarea>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <button class="mt-4 btn btn-primary">Submit Comment</button>
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                            <!-- Add Review Box / End -->
                        </div>
                        <!-- Content / End -->
                        <!-- Widgets -->
                        <div class="col-lg-3 col-md-4">
                            <div class="sidebar right">
                                <!-- Widget -->
                                <div class="widget">
                                    <h3 class="margin-top-0 margin-bottom-25">Search Blog</h3>
                                    <div class="form-group">
                                        <div class="input-group mb-4">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fa fa-search"></i></span>
                                            </div>
                                            <input class="form-control" placeholder="Search" type="text">
                                        </div>
                                    </div>
                                </div>
                                <!-- Widget / End -->
                                <!-- Widget -->
                                <div class="widget mb-4">
                                    <h3>Popular Posts</h3>
                                    <ul class="widget-tabs">
                                        <!-- Post #1 -->
                                       
                                            @foreach (var item in ViewBag.Blogin)
                                            {
                                                <li>
                                                    <div class="widget-content">
                                                        <div class="widget-thumb">
                                                            <a asp-controller="Blog" asp-action="Details" asp-route-Id="@item.Id"><img src="/assets/images/@item.MainImage" alt="image"></a>
                                                        </div>
                                                        <div class="widget-text">
                                                            <h5>@item.Title</h5>
                                                            <span>@item.CreateDate.ToString("MMMM dd yyyy")</span>
                                                        </div>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                </li>
                                            }
                                    </ul>
                                </div>
                                <!-- Widget / End-->
                                <!-- Widget -->
                                <div class="widget margin-top-40">
                                    <h3 class="margin-bottom-25">Follow Us</h3>
                                    <div class=" btn-wrapper">
                                        @if (Model != null)
                                        {
                                            @foreach (var item in Model.Sosial)
                                            {
                                                <a target="_blank" href=@item.Link class="btn btn-neutral @item.Color btn-icon-only btn-round btn-lg" data-toggle="tooltip" data-original-title="Follow us">
                                                    <i class="@item.Icon"></i>
                                                </a>
                                            }
                                        }
                                    </div>
                                </div>
                                <!-- Widget / End-->
                                <div class="clearfix"></div>
                                <div class="margin-bottom-40"></div>
                            </div>
                        </div>
                    </div>
                    <!-- Sidebar / End -->
                </div>
            </div>
        </div>
    </section>
}